<% provide(:title, "User Info") %>



<% if @micropost %>
<% portions = @micropost.content.split(/v=/) %>
<div id="video1"></div>


<script>

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

function onYouTubePlayerAPIReady() {
    var videoBox = document.getElementById('video1');
    videoBox.ytplayer = new YT.Player(videoBox, {
        videoId: '<%= portions.last %>',
        playerVars: {
            //controls: 0,
            wmode:'transparent'
        },
        height: '800',
        width: '320', 
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
    });

     // autoplay video
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            window.location = "callback:anything";
        }
    }
}
</script>

<% else %>
<h1 align="center"><br><br><br>
You need to add some videos to this account!
</h1><br><br>
<h2 align=center>(close this view to go back)</h2>
<% end %>

	</div>
</div>